$base-color:#bdb7ff;
$base-white:white;
$base-bule1:#4d79f6;
$base-gray1:#f0f2f5;
$base-ye:#F0B600;
$base-green:#34A853;
$base-pink:#E2918C;
$base-f8:#f8f8f8;
$base-666:#666;
// Aside
.el-scrollbar {
    height: 100%;
    border-right: solid 1px #e6e6e6;
    .scrollbar-wrapper {
        overflow-x: hidden !important;
        .el-scrollbar__view {
            // height: 100%;
            overflow-x: hidden !important;
        }
    }
}
.el-menu {
    border-right: 0;
}
